<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-button>
    <ion-title>{{ loadedRecipe.title }}</ion-title>
  </ion-toolbar>
  <ion-buttons>
    <ion-button (click)="onDeleteRecipe()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="loadedRecipe.imageUrl"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <h1>{{ loadedRecipe.title }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <ion-list>
          <ion-item *ngFor="let ig of loadedRecipe.ingredients">{{ ig }}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="ion-alert"></div>
</ion-content>
